.intro {
  & h1 {
    font-size: 21px;
  }

  & p {
    font-size: 16px;
  }
}

.signup {
  position: relative;
  top: 12vh;
  margin: auto;
  width: 35%;

  & input {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  background: var(--background);
  border-radius: 12px;
  /* Layer 1: Sharp anchor | Layer 2: Mid-soft depth | Layer 3: Wide ambient glow */
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid black;

  & input {
    width: 27vw;
  }

  & button {
    position: relative;
    bottom: 0.6vh;
  }
}

.form {
  position: relative;
  top: 2.5vh;
}

.or {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.liner {
  width: 40%;
  height: 1px;
  background-color: black;
  position: absolute;
  display: flex;

  justify-content: space-around;

  &:first-of-type {
    position: relative;
    left: 1.25vw;
    top: 1.6vh;
  }
  &:last-of-type {
    position: relative;
    left: 17.5vw;
    bottom: 1.3vh;
  }
}

.terms {
  margin-top: 20px;
  margin-bottom: 20px;

  & label {
    margin-left: 15px;
  }

  display: flex;
}

.oauth {
  display: flex;
  justify-content: space-around;

  & button {
    width: 150px;
  }
}

.signupBtn {
  display: block;
  margin: auto;
  width: 100%;
}

.forgottenPassword {
  margin-top: 20px;
  position: relative;
  left: 8vw;

  & a {
    color: grey;
  }
}

.errorAlert {
  position: relative;
  left: 29.75vw;
  top: 14vh;
  padding: 15px;
  width: 40vw;
  height: 15vh;
  overflow: scroll;
  border-radius: 20px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
}
