.days {
  position: relative;
  top: 5vh;
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin: auto;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.currentDate {
  color: #d72d66;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    background-color: #d72d66;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}

.todos {
  margin: auto;
  margin-top: 10vh;
  width: 79.65vw;
}

.todo {
  //   background-color: #7b6069;
  color: white;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.todoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  & h2 {
    margin-bottom: 2vh;
    font-size: 1.2em;
  }
  & span {
    position: relative;
    bottom: 0.7vh;
    color: grey;
    font-size: 0.75em;
  }
}

.options {
  position: relative;
  left: 9vw;
  top: 1vh;

  margin-bottom: 2vh;
}

.editmodal {
  position: fixed;
  left: 25%;
  top: 25%;
  background: #fff;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px;
  width: 50vw;
  margin: auto;
}

.emptyTasks {
  margin: auto;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
